/*
---01 TYPOGRAPHY SYSTEM

10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Font sizes (px)

- Font weights
Default: 400

- Line heights
Default: 1

- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

---02 COLORS

- Primary:
#4263eb  
- Tints:
#4c6ef5
#5c7cfa 
- Shades:
#3b5bdb
#364fc7  
- Greys: 
#555
#343a40

---05 SHADOWS

---06 BORDER-RADIUS

---07 WHITESPACE
- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
}

body{
    font-family: 'Inter', sans-serif;
    line-height: 1;
    font-weight: 400;
    height: 100vh;
}

.hero{
    background-color: #f1f3f5;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    align-items: center;
}

.hero-title{
    font-weight: 700;
    color: #555;
}

.title-one{
    text-align: center;
}

.hero-login-form{
    width: 350px;
    background-color: #fff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-shrink: 0;
    border-radius: 8px;
    box-shadow: 0px 10px 13px -7px rgba(0,0,0, 0.5);
}

.btn{
    outline: none;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;   
}

.form-input{
    font-size: 16px;
    outline: none;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    padding: 12px 16px;
}

.form-input:focus-within{
    border-color: #4c6ef5;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #4c6ef5;
}

.btn--big{
    padding: 8px 4px;
}

.login-btn{
    background-color: #4c6ef5;
}

.register-btn{
    padding: 12px 32px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    background-color: #42b72a;
}

.login-btn:hover{
    background-color: #4463dd;
}

.register-btn:hover{
    background-color: #3ba526;
}

.register-submit-btn{
    padding: 8px 24px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    background-color: #42b72a;
}

.register-submit-btn:hover{
    background-color: #3ba526;
}

.hero-link-password{
    text-decoration: none;
    text-align: center;
    margin-top: -10px;
    font-size: 14px;
    color: #1877F2;
}

.hero-divider{
    margin: 0px 0px;
    align-items: center;
    border-bottom: 1px solid #dadde1;
}

.popup-box{
    height: 100vh;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .8);
}

.registration-popup{
    display: none;
    position: relative;
    z-index: 2;
    padding: 16px;
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 10px 13px -7px rgba(0,0,0, 0.5);
}

.registration-name{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-input-register{
    width: 360px;
}

.registration-name input{
    width: 170px;
}

.registration-popup-header{
    color: #555;
}

.registration-popup-header .header-one{
    font-size: 36px;   
    line-height: 1.25;
}

.registration-popup-header .paragraph-one{
    padding-bottom: 24px;
}

.registration-form{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.registration-popup-header{
    border-bottom: 1px solid #dadde1;
}

.registration-form{
    padding-top: 24px;
}

.btn-popup-close{
    color: #606771;
    position: absolute;
    top: 24px;
    right: 20px;
    cursor: pointer;
}

.form-input-register{
    background-color: #f5f6f7;
}

.form-input-error{
    border-color: #D8000C !important;
    background-color: #ffe7e7 !important;
    caret-color: #D8000C !important;
}

.success-popup{
    position: relative;
    z-index: 2;
    padding: 16px;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 10px 13px -7px rgba(0,0,0, 0.5);
    text-align: center;
}

.success-popup .fa-circle-check{
    font-size: 62px;
    color: #4AD890;
    margin-bottom: 4px;
}

.success-popup .header-one{
    color: #555;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    letter-spacing: 0px;
}

.success-popup .paragraph-one{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 12px;
}

#close-success-button{
    background-color: #4AD890 !important;
    border-color: #4AD890;
    box-shadow: 0 0 0 2px #e7f3ff;
}

#close-success-button:hover{
    cursor: pointer;
    background-color: #43c282 !important;
}

/*
Loader
*/

.loader-box{
    width: 100vw;
    height: 100vh;
    background-color: #f1f3f5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #555;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #555 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .slide-in-top { 

	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-21 11:56:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
.navbar-box{
    width: 100vw;
    height: 48px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 70vw;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    z-index: 9;
}

.navbar-header{
    color: #555;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
}

.navbar-controlls-box{
    color: #555;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    font-size: 24px;
    list-style: none;
}

.item-user, .item-controlls, .item-logout{
    transition: all .1s ease-in;
    color: #555;
}

.item-user:hover{
    cursor: pointer;
    color: #444444;
    transform: scale(1.15);
}

.item-controlls:hover{
    cursor: pointer;
    color: #444444;
    transform: scale(1.15);
}

.item-logout:hover{
    cursor: pointer;
    color: #444444;
    transform: scale(1.15);
}

.main-box{
    background-color: #f1f3f5;
    width: 100vw;
    height: calc(100vh - 48px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.item-play{
    margin-right: 10px;
}

.question-box{
    background-color: #fff;
    height: 500px;
    width: 900px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 2px solid #555;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.quiz-active{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.question-box-header{
    height: 15%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #555;
}

.question-box-content{
    height: 85%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-start-btn{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.quiz-start-btn:hover{
    transform: scale(0.95);
}

.question-answer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.question-answer-input{
    transform: scale(2.5);
}

.question-answer-label{
    display: inline-block;
    text-align: left;
    margin-left: 24px;
    width: 300px;
    font-size: 20px;
    font-weight: 400;
}

.question-answer-box{
    margin-left: 100px;
}

.question-answer-submit{
    margin-top: 24px;
    padding: 12px 96px !important;
}

.question-answer-submit:hover{
    transform: scale(0.95);
}

.btn-inactive{
    background-color: #b3e2aa;
    cursor: not-allowed;
}

.btn-inactive:hover{
    background-color: #b3e2aa;
    transform: scale(1);
}

.cookie-box{
    z-index: 99;
    position: fixed;
    height: 48px;
    width: 100vw; 
    box-shadow: 0px -2px 15px 5px rgba(0,0,0,0.2);
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cookie-text{
    font-weight: 400;
    font-size: 16px;
}

.cookie-btn{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #ffdf00;
    padding: 12px 24px;
    border-radius: 4px;
    font-weight: 600;
}

.cookie-btn:hover{
    background-color: #e6c900;
}

.result-main-box{
    background-color: #f1f3f5;
    width: 100vw;
    height: calc(100vh - 48px);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.chart-box{
    background-color: rgba(255, 255, 255, 1);
    padding: 16px 24px;
    border-radius: 8px;
    width: 400px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.question-individual-box{
    background-color: #fff;
    max-width: 1000px;
    min-width: 600px;
    height: 400px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 8px;

    overflow-y: scroll;
}

.result-question-box{
    display: flex;
    flex-direction: column;

    transition: all .1s ease-in;
    border-bottom: 1px solid #555;
}

.result-question-header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 16px;
    color: #555;
}

.result-question-down:hover{
    cursor: pointer !important;
}

.result-question-content-box{
    padding: 0px 16px;
    padding-bottom: 12px;
    font-weight: 500;
    font-size: 18px;

    color: #555;
}

.item-question-down{
    font-size: 24px;
    color: #555;
    transition: all .1s ease-in;
    margin-left: 12px; 
}

.item-question-down:hover{
    cursor: pointer;
    color: #444444;
}

.question-active{
    transform: rotate(180deg);
}

.content-hide{
    display: none;
}